<tr>
  <td class="text-left">
    <strong>
      <%= blog.css('title').text %>
    </strong>
  </td>
  <td>
    <i class="float-right">
      <%= Date.parse(blog.css('updated').text).strftime("%m/%d/%Y") %>
    </i>
  </td>
</tr>
<tr>
  <td colspan="2" class="text-left">
    <% post = blog.css('content').text %>
    <% whitewash = Loofah.scrub_fragment( post, :whitewash ) %>
    <%= whitewash.text[0..400] + "..." %>
    <%= link_to "Read more",blog_path, class: "float-right styled-link" %>
  </td>
</tr>