<div class="well spacing work-blog" id="<%= index %>">
  <h4 class="work-blog-title">
    <%= blog.css('title').text %>
  </h4>

  <div class="align-left work-blog-content">
    <%= raw blog.css('content').text %>
  </div>
  <div class="align-right work-blog-donate">
    <%= link_to icon('heart fa-fw') + " Support our work", support_path, class: "btn btn-primary support-btn-work" %>
  </div>
</div>

