<div class="well blog-entry spacing work-blog" id="<%= index %>">
  <h4 class="work-blog-title">
    <%= blog.css('title').text %>
  </h4>

  <div class="align-left work-blog-content">
    <%= raw blog.css('content').text %>
  </div>
</div>
