<div class="banner-img-div">
  <%= image_tag 'skyscape_banner.jpg', class: "banner-img" %>
</div>

<div class="row">
  <h4>Join us for a State-side event or check up on our Ugandan work.</h4>
</div>

<div class="row" id="calendar_div">
  <object id="calendar" data="https://www.google.com/calendar/embed?showTitle=0&amp;showCalendars=0&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=644ejr0de6896s02o0uspos1gs%40group.calendar.google.com&amp;color=%2329527A&amp;ctz=America%2FNew_York">
  </object>
</div>