<div class="supersized">
  <%= image_tag 'soccer.jpg', class: "supersized-image" %>
</div>

<div class="row">
  <div class="col-xs-12">
    <h3>Raising an empowered generation full of God's love and compassion.</h3>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="centered-mega-button-div">
      <%= link_to fa_icon('heart fa-fw') + " Donate", support_path, class: "btn btn-default align-center mega-button" %>
    </div>
  </div>
</div>


<div class="row country-row">
  <div class="col-xs-12">
      <h2 class="country-text">Because Uganda needs Love</h2>
      <%= image_tag 'UGA_outline.png', class: "country-shape" %>
  </div>
</div>



