<div class="supersized">
  <%= image_tag 'water_banner.jpg', class: "supersized-image" %>
</div>

<div class="fb-page"
  data-href="https://www.facebook.com/Locodi"
  data-tabs="timeline"
  data-small-header="true"
  data-adapt-container-width="true"
  data-hide-cover="false"
  data-show-facepile="true"
  data-width="500">
  <blockquote cite="https://www.facebook.com/Locodi" class="fb-xfbml-parse-ignore">
    <a href="https://www.facebook.com/Locodi">Loveworld Community Development Initiative - Locodi</a>
  </blockquote>
</div>

