<div class="supersized">
  <%= image_tag 'crouching_sand.jpg', class: "supersized-image" %>
</div>

<div class="content-block row">
  <div class="col-xs-12">
    <div class="well">
      <iframe class="hysiframe" src="https://app.helpyousponsor.com/frontend/view_all/91/542" style="border:0px #FFFFFF none;" name="HYSiFrame" scrolling="no" frameborder="1" height="1500px" marginheight="0px" marginwidth="0px" width="100%"></iframe>
      <p>Your donations are tax deductible in the United States.</p>
    </div>
  </div>
</div>

