<div class="supersized">
  <%= image_tag 'crouching_sand.jpg', class: "supersized-image" %>
</div>

<div class="content-block row">
  <div class="col-xs-12">
    <div class="well">
      <h4 class="text-center">Thank you for making LOCODI's work possible!</h4>
      <p class="text-center">
        Thank you very much for donating to our ministry. We promise to be good stewards of your gift and will use it faithfully. Don’t hesitate to <%= mail_to "info@locodi.org", "contact us", subject: "From the support page", encode: "hex", target: :blank %> if you have any questions regarding the use of your gift. God bless you.
      </p>
    </div>
  </div>
</div>

<div class="content-block row">
  <div class="col-xs-12">
    <div class="well">
      <p>Your donations are tax deductible in the United States. LOCODI is a 501c3 organization, EIN # 47-3250222</p>
      <iframe class="hysiframe" src="https://app.helpyousponsor.com/frontend/view_all/91/428" style="border:0px #FFFFFF none;" name="HYSiFrame" scrolling="no" frameborder="1" height="1500px" marginheight="0px" marginwidth="0px" width="100%"></iframe>
      
    </div>
  </div>
</div>

