<div class="supersized">
  <%= image_tag 'road_hills.jpg', class: "supersized-image" %>
</div>

<% if !@blogs.empty? %>
  <div class="content-block row">
    <% @blogs.each_with_index do |blog, index| %>
      <%= render 'work_div', blog: blog, index: index %>
    <% end %>
  </div>
<% end %>
