/*
 *= require_tree .
 *= require_self
 *= require jquery-ui/slider
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


// Theme colors:
// Color scheme: http://www.rapidtables.com/web/color/color-scheme.htm
//     Starting hex: #A67240
$pri-clr: rgba(248,237,217,1); //beige
$sec-clr: rgba(136,164,210,1); //lt blue
$ter-clr-1: rgba(231,167,159,1); //lt red
$ter-clr-2: rgba(116,165,64,1); //lt green
$quat-clr: rgba(32,56,111,1); //dk blue

$pri-clr-trans: rgba(248,237,217,.5); //beige
$sec-clr-trans: rgba(136,164,210,.5); //lt blue
$ter-clr-1-trans: rgba(231,167,159,.5); //lt red
$ter-clr-2-trans: rgba(83,165,64,.5); //lt green
$quat-clr-trans: rgba(32,56,111,.65); //dk blue

h1 {
  color: #666666;
  font-size: 4em;
}

.dark {
  color: #333333;
}

h2 {
  color: #4C4C4C;
}

h3 {
  color: #333333;
  margin: 10px inherit;
}

p, li {
  color: #222222;
}

// Don't style links inside headers
h1, h2, h3, h4, h5 {
  a {
    color: inherit;
  }
} 

.unstyled-links {
  a {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    color: #337ab7;
  }
  // Except certain links (join page)
  p {
    a {
      color: #337ab7;
      text-decoration: underline;
    }
  }
}

.styled-links {
  p {
    a {
      color: #337ab7;
      text-decoration: underline;
    }
    a:hover {
    color: #337ab7;
  }
  }
}
  

p {
  font-size: 1.1em;
}

.banner-tag {
  font-size: 1.5em;
}

.align-left {
  text-align: left;
}

// Template styling
html, body {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

// added to html,body on Work page
.overflow-hidden {
  overflow: hidden;
}

.display-none {
  display: none;
}

body {
  background-color: $pri-clr;
  margin-bottom: 5%;
}

.banner-title {
  position: relative;
  margin: 1em;
  //border: solid 2px;
  min-height: 50px;
  z-index: 2;
}

.banner-title h1, p {
  text-align: center;
  color: #333333;
}

// Styling for blog page (inside banner_title partial)
#blog_nav {
  //display: block;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
}

.blog-nav-btn {
  width: 16.6%;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Hide blog titles in buttons on small screen widths
@media (max-width: 400px) {
  .blog-ttl {
    display: none;
  }
}

#wrapper {
  height: 100%;
  padding-left: 0;
  -webkit-transition: all 0.5s ;
  -moz-transition: all 0.5s ;
  -o-transition: all 0.5s ;
  transition: all 0.5s ;
}

#page_body {
  width: 100%;
  height: 100%;
  display: block;
  padding-left: 35px;
  z-index: 1;
}

// added to page_body on Work page
.overflowy-scroll {
  overflow-y: scroll;
}

// Give me some space!
.spacing {
  margin-top: 2em;
}


.footer {
  position: fixed;
  z-index: 10;
  padding: .75em inherit;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: $quat-clr-trans;
  p {
    text-align: right;
    color: white;
    line-height: .25em;
    span#created_by {
      font-size: .75em;
      a {
        color: white;
      }
    }
  }
}

// in-line image wrapping
.img-left-wrapped {
  float: left;
  margin: 10px;
}

.img-right-wrapped {
  float: right;
  margin: 10px;
}

// Hide the "created by" section of the footer on skinny screens
@media ( max-width: 300px ) {
  #created_by {
    display: none;
  }
}

// Shrink fonts on skinny screens
@media ( max-width: 767px ) {
  body {
    font-size: 1.25em;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.25em;
    margin: 5px inherit;
  }
  
}

