// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$sec-clr: rgba(136,164,210,1); //lt blue
$quat-clr: rgba(32,56,111,1); //dk blue

// Set a styling for wells inside content-blocks
div.content-block div.well {
  //min-height: 10em;
  height: inherit;
  background-color: rgba(255,255,255,0.6);
  border-radius: 12px;
  border: none;
  padding: 1em;
}

.well-trans {
  border: none !important;
  border-radius: 12px !important;
  background-color: rgba(255,255,255,0.65) !important;
}

// Styling for home page:

// Center the Content titles
h3, h4 {
  text-align: center;
}
// Except when explicit
.text-align-left p {
  text-align: left !important;
}

.waterfall-img {
  width: 100%;
  border: 4px solid white;
  border-radius: 8px;
}

.image-left {
  float: left;
}

.image-right {
  float: right;
}

.mini-social-span {
  margin-left: 2em;
  margin-right: 2em;
}

// Styling for support page:
#recur_months {
  width: 48px;
  text-align: right;
}

#var_amt {
  width: 96px;
  text-align: right;
}

// donate-image and donate-btn styling:
.donate-image {
  border-radius: 12px;
  width: 100%;
}

.donate-btn {
  background-color: $quat-clr !important;
  display: block !important;
  margin-top: 1em;
  width: 100%;
}

// styling for work page
.work-img {
  padding-top: 1em;
  width: 100%;
}

// styling for leaders page
.leader-well {
  margin-top: 1em;
  padding: 1em;
}

div.content-block {
  // Center wells on leaders page
  text-align: center;
}

.well-center {
  // Center wells on leaders page
  display: inline-block;
  float: none !important;
  vertical-align: top;
  margin-right: -4px;
}

.leader-bio, .leader-photo {
  padding: 1em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

// Styling for blog page:
.blog-entry .separator img {
  margin: 1em;
}

// inside banner_title partial:
#blog_nav {
  //display: block;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
}

.blog-nav-btn {
  width: 16.6%;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Hide blog titles in buttons on small screen widths
@media (max-width: 400px) {
  .blog-ttl {
    display: none;
  }
}

// Styling for Social page:
.rebel-mouse {
  margin-bottom: 48px;
}

// Styling for calendar page:
#calendar, #calendar_div {
  min-width: 300px;
  width: 100%;
  height: 460px;
}

