// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$sec-clr: rgba(136,164,210,1); //lt blue
$quat-clr: rgba(32,56,111,1); //dk blue

// Set a styling for wells inside content-blocks
div.content-block div.well {
  min-height: 10em;
  height: inherit;
  background-color: rgba(255,255,255,0.5);
  border-radius: 12px;
  border: none;
  padding: 1em;
}

.well-trans {
  border: none !important;
  border-radius: 12px !important;
  background-color: rgba(255,255,255,0.65) !important;
}

// Styling for home page:

// Center the Content titles
h3, h4 {
  text-align: center;
}

.blog-entry .separator img {
  //float: left !important;
  margin: 1em;
}

// Styling for support page:

// donate-image and donate-btn styling:
.donate-image {
  border-radius: 12px;
  width: 100%;
}

.donate-btn {
  background-color: $quat-clr !important;
  display: block !important;
  margin: 1em;
}

// styling for work page
.work-img {
  padding-top: 1em;
  width: 100%;
}

// styling for leaders page
.leader-well {
  margin-top: 1em;
  padding: 1em;
}

div.content-block {
  // Center wells on leaders page
  text-align: center;
}

.well-center {
  // Center wells on leaders page
  display: inline-block;
  float: none !important;
  vertical-align: top;
  margin-right: -4px;
}

.leader-bio, .leader-photo {
  padding: 1em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

// Styling for Social page:
.rebel-mouse {
  margin-bottom: 48px;
}

// Styling for calendar page:
#calendar, #calendar_div {
  min-width: 300px;
  width: 100%;
  height: 460px;
}

