// Theme colors:
// Color scheme: http://www.rapidtables.com/web/color/color-scheme.htm
//     Starting hex: #A67240
$pri-clr: rgba(248,237,217,1); //beige
$sec-clr: rgba(136,164,210,1); //lt blue
$ter-clr-1: rgba(231,167,159,1); //lt red
$ter-clr-2: rgba(116,165,64,1); //lt green
$quat-clr: rgba(32,56,111,1); //dk blue

$pri-clr-trans: rgba(248,237,217,.5); //beige
$sec-clr-trans: rgba(136,164,210,.5); //lt blue
$ter-clr-1-trans: rgba(231,167,159,.5); //lt red
$ter-clr-2-trans: rgba(83,165,64,.5); //lt green
$quat-clr-trans: rgba(32,56,111,.65); //dk blue


// Styles
#sidebar-wrapper {
  position: absolute;
  left: 100px;
  width: 0;
  height: 100%;
  margin-left: -100px;
  overflow: hidden;
  background: $ter-clr-2-trans;
  -webkit-transition: all 0.5s ;
  -moz-transition: all 0.5s ;
  -o-transition: all 0.5s ;
  transition: all 0.5s ;
}

#sidebar_ul {
  height: 100%;
  position: absolute;
  width: 100px;
  top: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 6;

  li {
    display: block;
    text-indent: 8px;
    line-height: 40px;
    max-height: 42px;

    a {
      display: block;
      color: #222222;
      text-decoration: none;
      .fa-fw {
        width: 24px;
      } 
    }

    a:hover {
      text-decoration: none;
      color: rgb(240,240,240);
      background: rgba(255,255,255,0.2);
    }

    a:active, a:focus {
      text-decoration: none;
    }
  }
  .active {
    background-color: $ter-clr-2;
    border: rgba(255,255,255, 0.2) solid 1px;
    //border-radius: 4px;
  }
}

// The div actually lives on application.html.erb
#sidebar_button {
  position: absolute;
  left: 0;
  width: 20px;
  height: 40px;
  line-height: 40px;
  margin-top: 10px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  background: $ter-clr-2-trans;
  -webkit-transition: all 0.5s ;
  -moz-transition: all 0.5s ;
  -o-transition: all 0.5s ;
  transition: all 0.5s ;
  a {
    color: $pri-clr;
    line-height: 40px;
    i {
      padding-left: 2px;
      line-height: 40px;
    }
  }
}

// Changes made when sidebar is shown
#wrapper.show-sidebar {
  padding-left: 100px;
}

#wrapper.show-sidebar #sidebar-wrapper {
    width: 100px;
}

#wrapper.show-sidebar #sidebar_button {
  left: 100px;
}