// Background images
.supersized { 
  position:fixed; 
  left:0; top:0; 
  overflow:hidden; 
  z-index:-1; 
  height:100%; 
  width:100%;

  img { 
    width:auto; 
    height:auto;
    outline:none; border:none; 
  }
}

  
    

