<div class="supersized">
  The image tag goes here for pages with a background image. Otherwise, remove div
</div>

<div class="title-block row">
  <div class="col-xs-12">
    <h1 class="dark text-center">Page Title</h1>
  </div>
</div>

<div class="content-block row">
  <div class="col-sm-6">
    <div class="well">
      <h3>Content Title</h3>
      <p></p>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="well">
      <h3>Content Title</h3>
      <p></p>
    </div>
  </div>
  
  <div class="col-sm-4">
    <div class="well">
      <div class="row">
        <div class="col-xs-12 story-head">
          Story image or title
        </div>
        <div class="col-xs-12">
          Story content
        </div>
      </div>
    </div> 
  </div>

  <div class="col-sm-4">
    <div class="well">
      <div class="row">
        <div class="col-xs-12 story-head">
          Story image or title
        </div>
        <div class="col-xs-12">
          Story content
        </div>
      </div>
    </div> 
  </div>

  <div class="col-sm-4">
    <div class="well">
      <div class="row">
        <div class="col-xs-12 story-head">
          Story image or title
        </div>
        <div class="col-xs-12">
          Story content
        </div>
      </div>
    </div> 
  </div>
  
</div>